*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

/* Container */
.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Box */
.login-box{
    background:white;
    padding:40px;
    width:350px;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
    text-align:center;
}

.login-box h2{
    color:#1e3c72;
    margin-bottom:10px;
}

.login-box p{
    font-size:14px;
    color:gray;
    margin-bottom:25px;
}

/* Inputs */
.login-box input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
    transition:0.3s;
}

.login-box input:focus{
    border-color:#1e3c72;
}

/* Button */
.login-box button{
    width:100%;
    padding:12px;
    border:none;
    background:#1e3c72;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.login-box button:hover{
    background:#16325c;
}

/* Message */
#message{
    margin-top:15px;
    font-size:14px;
    font-weight:600;
}

/* Mobile */
@media(max-width:400px){
    .login-box{
        width:90%;
    }
}
