*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    background:white;
    padding:35px;
    width:350px;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
    text-align:center;
}

.card h2{
    margin-bottom:20px;
    color:#1e3c72;
}

.card input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
}

.card input:focus{
    border-color:#1e3c72;
}

.card button{
    width:100%;
    padding:12px;
    border:none;
    background:#1e3c72;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.card button:hover{
    background:#16325c;
}

#msg{
    margin-top:15px;
    font-weight:bold;
}
